@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
    /* overflow: scroll; */
    font-size: 10px;
    --mainBG: #fafafa;
    --mainColor: #202020;
    --MainColor: #3a3a3a;
    --MainColorHover: #753344;
    --gray: #6d6d6d;
    --grayHover: #535353;
    --borderRadius: 10px;
    background-color: var(--mainBG);
    width: 100%;
    height: auto; 
    min-height: 100vh;
    position: relative;
}
body.DStore{
    --MainColor: #8d3d89;
    --MainColorHover: #662863;
}
body.FStore{
    --MainColor: #8d3d58;
    --MainColorHover: #753344;
}
body.BStore{
    --MainColor: #e27916;
    --MainColorHover: #a05510;
}
body.PStore{
    --MainColor: #279406;
    --MainColorHover: #1b6605;
}
body.RStore{
    --MainColor: #1670d0;
    --MainColorHover: #1156a0;
}
body::-webkit-scrollbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 6px;
}
body::-webkit-scrollbar-thumb{
    width: 6px;
    background-color: var(--MainColor);
    border-radius: var(--borderRadius);
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--mainBG);
    border-bottom: 1px solid var(--MainColor);
    box-shadow: 0 0 8px var(--MainColor);
    z-index: 10;
    padding: 8px 0;
    border-radius: 0 0 var(--borderRadius) var(--borderRadius);
}
.container{
    padding: 0 32px;
    max-width: 1400px;
    margin: auto;
}
h1{
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}
h1 span{
    color: var(--MainColor);
}
.manuals h1{
    text-align: center;
}
.curse__list{
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}
.curse__list a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 200px;

    font-size: 3em;
    font-weight: bold;
    color: var(--mainBG);
    background-color: var(--MainColor);
    transition: 0.4s;
    text-align: center;

    border-radius: var(--borderRadius);
}
.curse__list a:hover{
    transform: scale(1.05);
}
.curse__list .front{
    background-color: #8d3d58;
}
.curse__list .blender{
    background-color: #e27916;
}
.curse__list .scratch{
    background-color: #be3600;
}
.curse__list .design{
    background-color: #8d3d89;
}
.curse__list .python{
    background-color: #279406;
}
.curse__list .roblox{
    background-color: #1670d0;
}


/*  */
.manuals__item{
    display: flex;
    flex-direction: column;
    text-align-last: left;
    gap: 8px;
    height: 48px;
    overflow: hidden;
    justify-content: start;
    flex-wrap: nowrap;
    transition: 0.4s;
    /* transition-timing-function: cubic-bezier(0.92, -0.49, 0.7, 1.65); */
    transition-timing-function: ease-in-out;
    background-color: rgb(255, 255, 255);
    /* border-bottom: 2px solid var(--mainBG); */
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.17);
    border-radius: var(--borderRadius);
}


.simple{
    display: none;
}
.manuals__list{
    gap: 2px;
    display: flex;
    flex-direction: column;
}
.manuals__item a{
    padding: 8px;
    color: var(--mainColor);
    display: inline-flex;
    width: max-content;
    align-items: center;
    gap: 8px;
    transition: 0.4s;
    font-size: 1.4em;
}
.manuals__item a:nth-last-child(1){
    padding-bottom: 16px;
}
.manuals__item a:hover{
    color: var(--MainColor);
}
.manuals__item button{
    height: 48px;
    padding: 8px;
    background-color: var(--gray);
    color: white;
    flex-shrink: 0;
    transition: 0.4s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 2em;
    gap: 1em;
    position: relative;
    transform: perspective(400px) rotateX(0deg);
}
.manuals__item span{
    transition: 0.4s;
}
.manuals__item span:nth-last-child(1){
    font-weight: bold;
    position: absolute;
    right: 1em;
    top: 25%;
}
.ManualName{
    position: absolute;
    left: 3.6em;
    top: 25%;
}
.manuals__item button:hover{
    background-color: var(--grayHover);
}
._active button{
    background-color: var(--MainColor);
}
._active span:nth-last-child(1){
    transform: rotate(45deg);
}
._active button:hover{
    background-color: var(--MainColorHover);
}


h2{
    font-size: 2.4em;
    margin: 1em 0;
    font-weight: bold;
}



/* 404 */
.error{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.error img{
    width: 50vw;
    max-width: 1000px;
    min-width: 250px;
}

.FStore .manuals__item:nth-child(9),
 .FStore .manuals__item:nth-child(26),
  .FStore .manuals__item:nth-child(32){
    margin-bottom: 5em;
}

.PStore .manuals__item:nth-child(5),
 .PStore .manuals__item:nth-child(26),
  .PStore .manuals__item:nth-child(32){
    margin-bottom: 5em;
}

