/* F1.3 */
* {
  /* border: 1px solid red; */
}

div {
  display: inline-block;
  border: 2px solid rgb(8, 87, 177);
  padding: 8px;
  margin: 8px;
}

a h3 {
  color: rgb(8, 87, 177);
}

a p {
  color: black;
}

a {
  color: rgb(8, 87, 177);
}

/* F1.4 */
body {
  background-color: rgb(216, 216, 216);
  margin: 0;
}

section {
  padding: 40px 32px 40px 32px;
  max-width: 1200px;
  margin: auto;
  background-color: white;
}

header {
  max-width: 1200px;
  margin: auto;
  background-color: white;
  padding: 40px 32px 40px 32px;
  background-image: url(../../f1\ img/headerBGTown.png);
  background-size: cover;
  background-position: center;
  color: white;
  height: 400px;
}

/* F1.5 */
footer {
  max-width: 1200px;
  margin: auto;
  background-color: white;
  padding: 32px 32px 32px 32px;
  background-color: black;
  color: white;
}
div{
  transition: 0.4s;
}
div:hover{
  background-color: rgb(226, 240, 255);
}
a:hover{
  color: rgb(0, 0, 0);
}
img{
  width: 100%;
  max-width: 800px;
}

/* F1.6 */

input{
  width: 100%;
  max-width: 240px;
  padding: 8px 8px 8px 8px;
  border: 1px solid rgb(8, 87, 177);
  margin: 0 0 8px 0;
}
button{
  padding: 8px 8px 8px 8px;
  background-color: rgb(8, 87, 177);
  border: 1px solid rgb(8, 87, 177);
  color: white;
  margin: 0 0 8px 0;
  transition: 0.5s;
  cursor: pointer;
}
button:hover{
  background-color: white;
  color: rgb(8, 87, 177);
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
body{
  font-family: 'Nunito Sans', sans-serif;
}