*{
  /* border: 1px solid red; */
}
.link-box{
  display: inline-block;
  border: 2px solid rgb(8, 87, 177);
  padding: 8px;
  margin: 8px;
}
a h3{
  color: rgb(8, 87, 177);
}
a p{
  color: black;
}

/* --------- */
body{
  background-color: rgb(230, 230, 230);
  margin: 0;
}

section{
  padding: 40px 0;
}
main{
  max-width: 1200px;
  margin: auto;
  background-color: white;
  padding: 0 32px;
}
header{
  max-width: 1200px;
  margin: auto;
  background-color: white;
  padding: 40px 32px;
}
