/* F1.3 */
* {
  /* border: 1px solid red; */
}

div {
  display: inline-block;
  border: 2px solid rgb(8, 87, 177);
  padding: 8px;
  margin: 8px;
}

a h3 {
  color: rgb(8, 87, 177);
}

a p {
  color: black;
}

a {
  color: rgb(8, 87, 177);
}

/* F1.4 */
body {
  background-color: rgb(216, 216, 216);
  margin: 0;
}

section {
  padding: 40px 32px 40px 32px;
  max-width: 1200px;
  margin: auto;
  background-color: white;
}

header {
  max-width: 1200px;
  margin: auto;
  background-color: white;
  padding: 40px 32px 40px 32px;
  background-image: url(../../../img/headerBGTown.png);
  background-size: cover;
  background-position: center;
  color: white;
  height: 400px;
}

/* F1.4 */
footer {
  max-width: 1200px;
  margin: auto;
  background-color: white;
  padding: 32px 32px 32px 32px;
  background-color: black;
  color: white;
}
div{
  transition: 0.4s;
}
div:hover{
  background-color: rgb(226, 240, 255);
}
a:hover{
  color: rgb(0, 0, 0);
}
img{
  width: 100%;
  max-width: 800px;
}